# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.log

# Android
**/android/key.properties
**/android/**/*.jks
**/android/**/*.keystore
**/android/local.properties
**/android/.gradle/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env
